.idea
target/**
*.iml
**/.DS_Store

**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

**/*.iws
**/*.ipr

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

.mvn/
mvnw
mvnw.cmd