**/*.idea
*/*target
*/*.iml
**/.DS_Store

/dev/**/.apt_generated
/dev/**/.classpath
/dev/**/.factorypath
/dev/**/.project
/dev/**/.settings
/dev/**/.springBeans
/dev/**/.sts4-cache

/dev/**/*.iws
/dev/**/*.ipr

/dev/nbproject/private/
/dev/nbbuild/
/dev/dist/
/dev/nbdist/
/dev/.nb-gradle/
/dev/build/

/dev/.mvn/
/dev/mvnw
/dev/mvnw.cmd